body {
  background: #ffffff;
  margin: 0 auto;
  padding: 10px;
}

header {
  height: 150px;
  width: 0 auto;
  background: #999999 url(../images/flywheel.jpg);
  font-family: helvetica, arial, cursive;
  border-style: solid;
  border-width: 0 auto;
  border-color: #ffffff;
  text-align: center;
}
h1 {
  color: #ffffff;
  /* test background: #999999 url(../images/flywheel.jpg);*/
  text-align: center;
  border-style: hidden;
  border-width: 0 auto;
  font-size: 38px;
  font-variant: small-caps;
  border-width: 0 auto;
  padding: 1px;
}
nav a{

  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px 80px 5px 80px;
  margin: 10px 35px;
  text-align: center;
  color: #00ccff;
  background-color: hsl(348.1,97%,75.4%);
  font-family: helvetica, arial, cursive;
  font-weight: bolder;
  font-size: 22px;
  text-decoration: none;
  opacity: 89%;


}nav a:visited{
  color: #40BFF5;
  background-color:#f0f0f0;
}
nav a:focus{
  color:F47DA9;
  background-color:#1808AD;
}
nav a:hover{
  color: #99ff33;
  background-color:#6666ff;
}

nav a:active {
  color: #09e3ac;
  background-color: #E4b7f8;
}

nav a.active{
  color: #99ff33;
  background-color: #74089c;
}
img {
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 5 px;
  border-color: #000;
  border-radius: 5px;
  align-content: center;
  margin: 1px;
 padding-bottom: 15px;
 padding-top: 15px;
 padding-left: 5px;
 padding-right: 5px;
 background-color: #000;
}
aside {
  display: inline-block;
  align-content: center;
  float: left;
 width: 12%;
 padding: 0px 25px 250px 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: #2a4b57;
  border-width: 3px;
  background-color: #52c3e3;
}
 h2{
  color: ;
 }

section{
  display: inline-block;
  float: left;
  margin: 1%;
  width: 70%;
  font-size: 24px;
  font-weight: bold;

}

  