h1{
  color:#ffffff;
  background: #999999;
  text-align: center; 
  text-size: 200%;
  font-variant: small-caps;
}
header{
 background: #999999;
 font-family: helvetica, arial, cursive;
}
a:link{
 color:#0a8f38;
 font-weight: bold;
}

a:visited{
  color:#f2fa0f;
  font-weight:bold;
}
a:hover{
  color:#fc03f4;
  font-weight: bold;
 
}
a:active{
  color:#220459;
  font-weight: bold; 
}
h2{
  color: #3209d9;
  background: #d1dfe8;
  font-variant: small-caps; 
  font-size: 150%;
  font-weight: bold;
}
section{
  background:#d1dfe8;
  text-align: justify;
  font-size: 125%;
  font-weight: normal;
}
aside{
  display: none;
}
