h1{
  color:#ffffff;
  background: #999999;
  text-align: center; 
  text-size: 200%;
  font-variant: small-caps;
}
header{
 color: #000;
 background: #999999;
 font-family: helvetica, arial, cursive;
}
a:link{
  color:#000;
  font-weight: bold;
}
a:visited{
  color:#f7105;
  
}
a:hover{
  color:#cd09e3;
  
}
a:active{
  color:#09e3ac;
  
}
nav, style{
  color: ##fc03f4;
}
  h2{
  color: #000065;
  background: #9ad0ed;
  font-variant: small-caps; 
  font-size: 150%;
  font-weight: bold;
}
section{
  background:#9ad0ed;
  text-align: justify;
  font-size: 125%;
  font-weight: normal;
  
}

aside{
  display: none;
}
